<footer class="site-footer">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 col-md-5 col-12">
                <img src="images/logo.png" alt="Bestow India" height="40" class="mb-3">
                <p>One-Stop Solution Partner for end-to-end people and business development.</p>
            </div>

            <div class="col-lg-4 col-md-4 col-12 ml-auto">
                <p class="copyright-text">Copyright &copy; 2026 Bestow India.
                    <br>Powered by: Bestow Development India
                </p>
            </div>

        </div>
    </div>
</footer>