<!-- MENU BAR -->
<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">

        <a class="navbar-brand" href="index.html">
            <img src="images/logo.png" alt="Bestow India" height="50">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-lg-auto">
                <!-- <li class="nav-item">
                    <a href="index.html#home" class="nav-link smoothScroll">Home</a>
                </li> -->


                <li class="nav-item">
                    <a href="index.html#courses" class="nav-link smoothScroll">Courses</a>
                </li>

                <li class="nav-item">
                    <a href="double-your-profits.html" class="nav-link fw-bold text-danger">Profit Growth 2026</a>
                </li>

                <li class="nav-item">
                    <a href="index.html#contact" class="nav-link smoothScroll">Inquiry</a>
                </li>
            </ul>

            <ul class="social-icon ml-lg-3">
                <li><a href="tel:8950336844" class="fa fa-phone"> 8950336844</a></li>
            </ul>
        </div>

    </div>
</nav>